# NodeJS
/node_modules
*.log

# Coverage files
/.nyc_output
/coverage

# Build artifacts
/dist

# Demo files
/demo

# IDE - VS Code
/.vscode
!/.vscode/settings.json
!/.vscode/launch.json
!/.vscode/tasks.json
